[header]
  <div>
  <section>
  <h1>{{ if [user:ID] != [loggedinuser:ID] }}Edit User{{ else }}Edit your account{{ endif }}</h1>
  <h2>Change User data</h2>
  <form class="adminform" action="/admin/updateuser" method="post">
    <p><input type="hidden" name="user" value="[user:ID]"></p>
      <input type="hidden" name="xsrf" value="[xsrftoken]">
      <div><label for="name">Name:</label><input id="name" type="text" name="name" value="[user:author]"  maxlength="30"></div>
      <div><label for="email">Email:</label><input id="email" type="text" name="email" value="[user:name]" /></div>
      <div>
        <label for="admin"><input type="checkbox" name="admin" id="admin" {{ if [user:admin] == 'true' }} checked {{endif}}>Admin</label>

      </div>
      <div>
        <label for="active"><input type="checkbox" name="active" id="active" {{ if [user:active] == 'true' }} checked {{endif}}>Active</label>
      </div>
      <input type="submit" value="Save my changes">

  </form>
  <h2>Change password</h2>
  <form class="adminform" action="/admin/updateuserpassword" method="post">
    <p><input type="hidden" name="user" value="[user:ID]" /></p>
      <input type="hidden" name="xsrf" value="[xsrftoken]">
      <div><label for="password">Password:</label><input id="password" type="password" name="password"></div>
      <div><label for="repassword">Retype:</label><input id="repassword" type="password" name="repassword"></div>


      <input type="submit" value="Save my changes." >

  </form>


  <h2>{{ if [user:ID] != [loggedinuser:ID] }}Delete User{{ else }}Delete your account{{ endif }}</h2>
  <form method="post" action="/admin/deleteuser">
    <input name='id' value='[user:ID]' hidden="">
    <input type="hidden" name="xsrf" value="[xsrftoken]">
    <input type="submit" onclick="return confirm('{{ if [user:ID] != [loggedinuser:ID] }}Are you sure you want to delete this user and all of its comments and articles?{{ else }}This is your account, are you sure you want to do this? This will revoke your admin privileges.{{ endif }}')" value="Delete user" />
  </form>

    {{ if [user:admin] == 'true' }}
    <h2>Articles for user</h2>
    <div>
      {{ if [articles] }}
        {{for page in [articlePagination:pagenumbers]}}
        <a href='/admin/user/[user:ID]/[user:author]/{{if [commentpagination]}}[commentpagination:currentpage]{{else}}1{{endif}}/[page]'
        {{ if [page] == [articlePagination:currentpage] }}
           <b>[page]</b>
        {{ else }}
          [page]
        {{ endif }}
        </a>
        {{endfor}}

        {{for article in [articles]}}
          {{inline admin/userarticle.html}}
        {{endfor}}

      {{ else }}
        This user does not have articles yet.
      {{ endif }}
    </div>
    {{ endif }}

    <h2>Comments for user</h2>
   {{ if [commentslist] }}

   {{for page in [commentpagination:pagenumbers]}}
   <a href='/admin/user/[user:ID]/[user:author]/[page]/[articlePagination:currentpage]'
   {{ if [page] == [commentpagination:currentpage] }}
      <b>[page]</b>
   {{ else }}
     [page]
   {{ endif }}
   </a>
   {{endfor}}

   {{ inline admin/comments.html }}

   {{for page in [commentpagination:pagenumbers]}}
   <a href='/admin/user/[user:ID]/[user:author]/[page]/{{if [articlePagination]}}[articlePagination:currentpage]{{endif}}'
   {{ if [page] == [commentpagination:currentpage] }}
      <b>[page]</b>
   {{ else }}
     [page]
   {{ endif }}
   </a>
   {{endfor}}
   {{ else }}
   This user does not have comments yet.
   {{ endif }}

  </section>
</div>
[footer]
