        <li>
        	<article>
	          <header>
		          <h2><a href="/article/[article:ID]/[article:title|slashfilter|url]">[article:title|creole]</a></h2>
		          <span class="info">
		            <span><a href="/author/[article:user:ID]/[article:user:author|slashfilter|url]">[article:user:author]</a> [article:date]</span>
		            <span class="commentscount">[article:comments] comments</span>
	          </span>
	          </header>
	          [article:content|creole|indextext]
          </article>
        </li>
